body {
    color: black;
    background-color: #DC5353;
    font-family: "Roboto", sans-serif;
}

/* UTILITIES */
.container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.d-none {
    display: none;
}

/* HEADER */
#main-header {
    height: 90px;
    background-color: #1b1919;
}

.logo img {
    width: 150px;
}

.main-menu li {
    list-style: none;
    display: inline;
    padding-left: 20px;
}

.main-menu li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.main-menu li a:hover {
    color: rgb(233, 81, 88);
}


/* MAIN */

.carosello{
    margin-top: 2rem;
}

.film{
    text-align: center;
}

.sliderCarosello{
    display: flex;
    align-items: center;
}

.locandinaCarosello{
    width: 220px;
}

.locandinaCarosello img{
    width: 100%;
}

.cercaIlFilm{
    justify-content: center;
    margin-top: 56px;
}


.right{
    flex: 2;
}

.left{
    width: 270px;
    text-align: center;
}

.left img{
    width: 100%;
}

.containerFilm{
    margin: 0 auto;
    width: 60%;
    gap: 5rem;
}

h2{
    margin: 0px;
}